body {
  margin: 10px;
}

#container {
  font-size: 24;
  font-family: Meiryo, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.name {
  margin-left: 5px;
}

.line {
  margin-left: 5px;
}

.type-party {
  color: rgb(85, 225, 255);
}

.type-fc {
  color: rgb(85, 225, 255);
}

.type-alliance {
  color: rgb(255, 111, 0);
}

.type-linkshell2 {
  color: rgb(111, 111, 255);
}

.type-cwls3 {
  color: rgb(136, 171, 72);
}
